.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #f3efe2;
  height: 911px;
  position: relative;
  overflow: hidden;
}
.div .rectangle-15 {
  width: 686px;
  height: 911px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.div .div2 {
  position: absolute;
  inset: 0;
}
.div .ellipse-13 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 23.97px;
  position: absolute;
  left: 45px;
  top: 76px;
}
.div .ellipse-14 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 23.97px;
  position: absolute;
  left: 45px;
  top: 159.89px;
}
.div .ellipse-15 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 23.97px;
  position: absolute;
  left: 45px;
  top: 243.78px;
}
.div .ellipse-16 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 23.97px;
  position: absolute;
  left: 45px;
  top: 504.25px;
}
.div .ellipse-17 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 23.97px;
  position: absolute;
  left: 45px;
  top: 588.14px;
}
.div .ellipse-18 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 23.97px;
  position: absolute;
  left: 45px;
  top: 672.03px;
}
.div .div3 {
  color: #000000;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-size: 100px;
  line-height: 90px;
  font-weight: 500;
  position: absolute;
  left: 825px;
  top: 569px;
  width: 944px;
  height: 342px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.div .div3:hover {
  text-decoration:underline;
}
.div .rectangle-18 {
  border-radius: 185px;
  width: 350px;
  height: 525px;
  position: absolute;
  left: 1431px;
  top: 95px;
  object-fit: cover;
}
.div .rectangle-20 {
  border-radius: 185px;
  width: 350px;
  height: 525px;
  position: absolute;
  left: 813px;
  top: 95px;
  object-fit: cover;
}
.div .rectangle-19 {
  border-radius: 185px;
  width: 350px;
  height: 525px;
  position: absolute;
  left: 1110px;
  top: 27px;
  object-fit: cover;
}
.div .rectangle-16 {
  background: linear-gradient(
    to left,
    rgba(29, 42, 19, 0.2),
    rgba(29, 42, 19, 0.2)
  );
  width: 48px;
  height: 991px;
  position: absolute;
  left: 647px;
  top: -40px;
  object-fit: cover;
}
.div .rectangle-17 {
  width: 1094px;
  height: 631px;
  position: absolute;
  left: 748px;
  top: 10px;
  object-fit: cover;
}
.div .div4 {
  width: 1905.12px;
  height: 911px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1905.12/911;
  pointer-events: none;
}
