.start-page {
  width: 100vw;
  height: 100vw;
}

.main-button {
  position: absolute;
  bottom: 3rem;
  right: 4.5rem;
  border-radius: 3.6875rem;
  border: 1px solid #000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%), #F3EFE2;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);

  width: 55%;
  height: 24%;
  flex-shrink: 0;

  color: #000;
  text-align: center;
  font-family: "Cormorant Infant";
  font-size: 550%;
  font-style: normal;
  font-weight: 500;
  line-height: 116%; /* 94.737% */

  cursor: pointer;
}

.main-button:hover {
  filter: brightness(80%);
  transform: scale(95%);
}