@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400&display=swap');

.App {
  text-align: center;
}

body {
  	margin: 0; line-height: normal;
}

:root {
  	
  	/* Fonts */
  	--font-cormorant-infant: 'Cormorant Infant';
  	
  	/* font sizes */
  	--font-size-13xl: 2rem;
  	
  	/* Colors */
  	--color-black: #000;
  	
}
