@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400&display=swap');

.App {
  text-align: center;
  background-color: #F3EFE2;
  height: 100vw;
  width: 100vw;
}

body {
  	margin: 0; line-height: normal;
}

:root {
  	
  	/* Fonts */
  	--font-cormorant-infant: 'Cormorant Infant';
  	
  	/* font sizes */
  	--font-size-13xl: 2rem;
  	
  	/* Colors */
  	--color-black: #000;
  	
}

*, *::before, *::after {
	box-sizing: inherit;
  }
  
  html {
	/* this makes sure the padding and the border is included in the box sizing */
	box-sizing: border-box;
	overflow-y: hidden;
  }
  
  html body {
	padding: 0;
	margin: 0;
	overflow-y: inherit;
  }